.App {
  text-align: center;
}
h2 {
  color: #4f1a0f;
  font-size: 22px;
  font-weight: bold;
}
h5 {
  color: #4f1a0f;
  font-weight: bold;
  font-size: 18px;
}
h6 {
  color: #f72c25;
  font-weight: bold;
  font-size: 18px;
}
p {
  color: #4f1a0f;
  font-size: 18px;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

a {
  color: #4f1a0f;
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 18px;
  color: #4f1a0f;
}

.logo {
  justify-content: center;
  padding: 2%;
}
.item-price {
  font-weight: bold;
}
.menu li {
  margin: 1vh;
  padding: 1vh;
  display: inline;
}

::placeholder {
  color: #f72c25;
  font-size: 18px;
}

.menu-icons {
  transition: all 0.3s ease 0s;
  outline: none;
}
.menu-icons:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.inputFormulary {
  border: none;
  border-bottom: 1px solid #4f1a0f;
  padding: 10px 16px 13px 0px;
  position: relative;
  width: 100%;
  outline: none;
}
.form-group {
  width: 100%;
}
.actionButtonSend {
  background-color: #f72c25;
  color: yellow;
  border: none;
  border-radius: 40px;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 0px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  outline: none;
  justify-content: center;
  transition: all 0.4s ease 0s;
}
.actionButtonSend:hover {
  background: #4f1a0f;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.actionButtonClear {
  background-color: white;
  color: #4f1a0f;
  border: solid #4f1a0f;
  border-radius: 40px;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 0px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  outline: none;
  justify-content: center;
}
.container2,
.container,
.row {
  display: flex;
}
.box-value {
  display: flex;
  justify-content: space-between;
}
.container {
  margin-left: 10%;
}

.container2 {
  margin-left: 200px;
}

.delete-icon {
  padding-right: 2%;
  display: flex;
  outline: none;
  border: none;
  background-color: #ffff;
}
.main-button {
  outline: none;
  background-color: #ece6e4;
  border: none;
  margin: 25px;
  transition: all 0.3s ease 0s;
}
.main-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.lead {
  background-color: #ece6e4;
  height: 1000px;
}

.burger-button {
  display: flex;
}

.line {
  background-color: #f72c25;
  height: 2px;

  width: 100%;
}
.line-thin {
  background-color: #4f1a0f;
  height: 1px;
}

p {
  color: #4f1a0f;
}

.drinks-button {
  display: flex;
}

.order-kitchen-card {
  padding: 2%;
  width: 300px;
  background: #ffffff;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 1%;
}

/* .menu-row-container {
  background: #ece6e4;
  width: 100%;
  height: 1000px;
} */
.order-kitchen-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
/* .order-menu-container {
  width: 90%;
  background: #ffffff;
} */
.orderList {
  height: 400px;
  padding-top: 3%;
}

.Order-container {
  width: 100%;
  padding-right: 2%;
}

.row,
.row1 {
  padding-left: 2%;
}
.row2 {
  padding-right: 2%;
}

.TabFoodDrinks {
  margin-left: 5%;
}

.nav-link {
  display: flex;
  justify-content: space-between;
}

.btn-kitchen {
  display: flex;
  justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b3b826;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b3b826;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  border-bottom: none;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab--selected {
  background: #ece6e4 !important;
  color: black;
}

.react-tabs__tab {
  display: flex;
  border: none;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 50%;
  background: #ffff;
  justify-content: center !important;
}

.ShowMenu {
  background-color: #ece6e4;
}
