.App {
  text-align: center;
}

a {
  color: teal;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.menu li {
  margin: 1vh;
  padding: 1vh;
  display: inline;
}

.container2, .container, .row {
display: flex;

}

.container{
	margin-left: 10%;
}

.container2 {
	margin-left: 200px;
}

.main-button{
  outline: none;
  background-color: white;
  border:none;
}
.lead{
  background-color: white;
}

.burger-button{
  display: flex;

}
.line{
  background-color: #F72C25;
  height: 2px;
}

.orderKitchen-container {

}

.Order-list {

}

.Order-container {

	
}

.row, .row1 {
padding-top: 5%;
margin-left: 50%;

}

.ShowMenu {
  
}

.TabFoodDrinks {
  margin-left: 5%;
}

.Item-Price, .Item-Price2{
  padding-left: 5%;
  display: flex;
}

.Item-Price2{
  padding-left: 20%;
  
}


