.App {
  text-align: center;
}
h6 {
  color: #f72c25;
  margin: 35px;
}

a {
  color: #4f1a0f;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.menu li {
  margin: 1vh;
  padding: 1vh;
  display: inline;
}

::placeholder {
  color: var(--principalBlue);
}

.inputFormulary {
  border: none;
  border-bottom: 1px solid var(--babyBlue);
  color: var(--principalBlue);
  padding: 20px 16px 16px 30px;
  position: relative;
}
.container2,
.container,
.row {
  display: flex;
}

.container {
  margin-left: 10%;
}

.container2 {
  margin-left: 200px;
}

.main-button {
  outline: none;
  background-color: white;
  border: none;
  margin: 25px;
}
.lead {
  background-color: white;
  padding: inherit;
}

.burger-button {
  display: flex;
}
.line {
  background-color: #f72c25;
  height: 2px;
  margin: 35px;
}

p {
  color: #4f1a0f;
}

.drinks-button {
  display: flex;
}

.orderKitchen-container {
}

.Order-list {
}

.Order-container {
}

.row,
.row1 {
  padding-top: 5%;
  /* margin-left: 50%; */
}

.ShowMenu {
}

.TabFoodDrinks {
  margin-left: 5%;
}
